<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="saucelab.Dropdown_navigate"/>
      <class name="demo.Test_annotation"/>
      <class name="demo.Priority_demo"/>
      <class name="saucelab.Browser"/>
      <class name="saucelab.Add_cart"/>
      <class name="saucelab.Search_validation"/>
      <class name="demo.Annotation_demo"/>
      <class name="demo.Example1"/>
      <class name="saucelab.Product_validation"/>
      <class name="rediffalert.Alert_check"/>
      <class name="saucelab.Saucelab_validation"/>
      <class name="saucelab.Page_Validation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
